<app-el-nav-bar></app-el-nav-bar>
<br>

    <div class="ml-5 mb-5 mr-5 card col-11" id="mTable"  style="box-sizing: content-box;">
        <div class="card-body">
            <h3 class="card-title">Management</h3>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Telephone</th>
                        <th scope="col">Email</th>
                        <th scope="col">Creation Date</th>
                        <th scope="col">Position</th>
                        <th scope="col">Password</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let manageItem of managerList">
                        <th id="idManagement">{{manageItem.idManagement}}</th>
                        <td id="nameMana">
                            <input ng-model="manageItem.name" value="{{manageItem.name}}"/>
                        </td>
                        <td id="addressMana">
                            <input ng-model="manageItem.address" value="{{manageItem.address}}" size="10"/>
                        </td>
                        <td id="telephoneMana">
                            <input ng-model="manageItem.telephone" value="{{manageItem.telephone}}" size="10"/>
                        </td>
                        <td id="emailMana">
                            <input ng-model="manageItem.email" value="{{manageItem.email}}" size="15"/>
                        </td>
                        <td id="creationDateMana">{{manageItem.creationDate}}</td>
                        <td id="position">
                            <input ng-model="manageItem.position" value="{{manageItem.position}}" size="1"/>
                        </td>
                        <td id="password">
                            <input ng-model="manageItem.position" value="{{manageItem.password}}" size="10"/>
                        </td>
                        <td> <button class="btn btn-danger btn-sm">Delete</button></td>
                        <td> <button class="btn btn-warning btn-sm">Update</button></td>

                    </tr>
                    <tr>    
                        <td></td>
                        <td><input class="form-control" type="text" id="newName" [(ngModel)]="newManager.name" name="newName" /></td>
                        <td><input class="form-control" type="text" id="newAddress" [(ngModel)]="newManager.address" name="newAddres"/></td>
                        <td><input class="form-control" type="text" id="newTelephone" [(ngModel)]="newManager.telephone" name="newTelephone"/></td>
                        <td><input class="form-control" type="text" id="newEmail" [(ngModel)]="newManager.email" name="newEmail"/></td>
                        <td></td>
                        <td><input class="form-control" type="text" id="newPosition" [(ngModel)]="newManager.position" name="newPosition"/></td>
                        <td><input class="form-control" type="text" id="newPassword" [(ngModel)]="newManager.password" name="newPassword"/></td>
                        <td><button class="btn btn-success btn-sm" type="button" (click)="AddManager()">Add</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="mr-5 mb-5 ml-5 card col-5" id="gTable"  style="box-sizing: content-box;">
        <div class="card-body">
            <h3 class="card-title">Groups</h3>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Creation Date</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let groupItem of groupList">
                        <th id="idGroup">{{groupItem.idGroup}}</th>
                        <td id="name">{{groupItem.name}}</td>
                        <td id="creationDate">{{groupItem.creationDate}}</td>
                        <td> <button class="btn btn-danger btn-sm">Delete</button></td>
                        <td> <button class="btn btn-warning btn-sm">Update</button></td>
                    </tr>
                    <tr>    
                        <td></td>
                        <td><input class="form-control" type="text" id="newName" [(ngModel)]="newGroup.name" name="newName" /></td>
                        <td></td>
                        <td><button class="btn btn-success btn-sm" type="button" (click)="AddGroup()">Add</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="ml-5 mb-5 mr-5 card col-6" id="tTable"  style="box-sizing: content-box;">
        <div class="card-body">
            <h3 class="card-title">Teachers</h3>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Telephone</th>
                        <th scope="col">Group</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let teacherItem of teacherList">
                        <th id="idTeacher">{{teacherItem.idTeacher}}</th>
                        <td id="name">{{teacherItem.name}}</td>
                        <td id="address">{{teacherItem.address}}</td>
                        <td id="telephone">{{teacherItem.telephone}}</td>
                        <td id="group">{{teacherItem.groupId}}</td>
                        <td> <button class="btn btn-danger btn-sm">Delete</button></td>
                        <td> <button class="btn btn-warning btn-sm">Update</button></td>
                    </tr>
                    <tr>    
                        <td></td>
                        <td><input class="form-control" type="text" id="" [(ngModel)]="newTeacher.name" name="" /></td>
                        <td><input class="form-control" type="text" id="" [(ngModel)]="newTeacher.address" name="" /></td>
                        <td><input class="form-control" type="text" id="" [(ngModel)]="newTeacher.telephone" name="" /></td>
                        <td><input class="form-control" type="text" id="" [(ngModel)]="newTeacher.groupId" name="" /></td>
                        <td><button class="btn btn-success btn-sm" type="button" (click)="AddTeacher()">Add</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="mr-5 mb-5 ml-5 card col-11" id="sTable"  style="box-sizing: content-box;">
        <div class="card-body">
            <h3 class="card-title">Schools</h3>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Register Number</th>
                        <th scope="col">Address</th>
                        <th scope="col">Telephone</th>
                        <th scope="col">School Zone</th>
                        <th scope="col">Creation Date</th>
                        <th scope="col">Director</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let schoolItem of schoolList">
                        <th id="idSchool">{{schoolItem.idSchool}}</th>
                        <td id="name">{{schoolItem.name}}</td>
                        <td id="registerNumber">{{schoolItem.registerNumber}}</td>
                        <td id="address">{{schoolItem.address}}</td>
                        <td id="telephone">{{schoolItem.telephone}}</td>
                        <td id="schoolZone">{{schoolItem.schoolZone}}</td>
                        <td id="creationDate">{{schoolItem.creationDate}}</td>
                        <td id="director">{{schoolItem.director}}</td>
                        <td> <button class="btn btn-danger btn-sm">Delete</button></td>
                        <td> <button class="btn btn-warning btn-sm">Update</button></td>
                    </tr>
                    <tr>    
                        <td></td>
                        <td><input class="form-control" type="text" id="" [(ngModel)]="newSchool.name" name="" /></td>
                        <td><input class="form-control" type="text" id="" [(ngModel)]="newSchool.registerNumber" name="" /></td>
                        <td><input class="form-control" type="text" id="" [(ngModel)]="newSchool.address" name="" /></td>
                        <td><input class="form-control" type="text" id="" [(ngModel)]="newSchool.telephone" name="" /></td>
                        <td><input class="form-control" type="text" id="" [(ngModel)]="newSchool.zone" name="" /></td>
                        <td></td>
                        <td><input class="form-control" type="text" id="" [(ngModel)]="newSchool.director" name="" /></td>
                        <td><button class="btn btn-success btn-sm" type="button" (click)="AddSchool()">Add</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

<div class="pt-5 pb-5 ">
</div>

<app-el-footer></app-el-footer>