<app-el-nav-bar></app-el-nav-bar>
<br>

    <div class="ml-5 mb-5 mr-5 card col-11" id="mTable"  style="box-sizing: content-box;">
        <div class="card-body">
            <h3 class="card-title">Management</h3>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Telephone</th>
                        <th scope="col">Email</th>
                        <th scope="col">Creation Date</th>
                        <th scope="col">Position</th>
                        <th scope="col">Password</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let manageItem of managerList; let updateItem of updateManagers">
                        <th id="idManagement">{{manageItem.idManagement}}</th>
                        <td id="nameMana">
                            <input [(ngModel)]="updateItem.name" value="{{manageItem.name}}"/>
                        </td>
                        <td id="addressMana">
                            <input [(ngModel)]="updateItem.address" value="{{manageItem.address}}"/>
                        </td>
                        <td id="telephoneMana">
                            <input [(ngModel)]="updateItem.telephone" value="{{manageItem.telephone}}" size="10"/>
                        </td>
                        <td id="emailMana">
                            <input [(ngModel)]="updateItem.email" value="{{manageItem.email}}" size="20"/>
                        </td>
                        <td id="creationDateMana">{{manageItem.creationDate}}</td>
                        <td id="position">
                            <input [(ngModel)]="updateItem.position" value="{{manageItem.position}}" size="1"/>
                        </td>
                        <td id="password">
                            <input [(ngModel)]="updateItem.password" value="{{manageItem.password}}" />
                        </td>
                        <td> <button class="btn btn-danger btn-sm" (click)="DeleteManager(manageItem.idManagement)">Delete</button></td>
                        <td> <button class="btn btn-warning btn-sm" (click)="UpdateManager(updateItem)">Update</button></td>

                    </tr>
                    <tr>    
                        <td></td>
                        <td><input class="form-control" type="text" id="newName" [(ngModel)]="newManager.name" name="newName" /></td>
                        <td><input class="form-control" type="text" id="newAddress" [(ngModel)]="newManager.address" name="newAddres"/></td>
                        <td><input class="form-control" type="text" id="newTelephone" [(ngModel)]="newManager.telephone" name="newTelephone"/></td>
                        <td><input class="form-control" type="text" id="newEmail" [(ngModel)]="newManager.email" name="newEmail"/></td>
                        <td></td>
                        <td><input class="form-control" type="text" id="newPosition" [(ngModel)]="newManager.position" name="newPosition"/></td>
                        <td><input class="form-control" type="text" id="newPassword" [(ngModel)]="newManager.password" name="newPassword"/></td>
                        <td><button class="btn btn-success btn-sm" type="button" (click)="AddManager()">Add</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="mr-5 mb-5 ml-5 card col-6" id="gTable"  style="box-sizing: content-box;">
        <div class="card-body">
            <h3 class="card-title">Groups</h3>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Creation Date</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let groupItem of groupList; let updateItem of updateGroups">
                        <th id="idGroup">{{groupItem.idGroup}}</th>
                        <td id="name">
                            <input [(ngModel)]="updateItem.name" value="{{groupItem.name}}"/>
                        </td>
                        <td id="creationDate">{{groupItem.creationDate}}</td>
                        <td> <button class="btn btn-danger btn-sm" (click)="DeleteGroup(groupItem.idGroup)">Delete</button></td>
                        <td> <button class="btn btn-warning btn-sm" (click)="UpdateGroup(updateItem)">Update</button></td>
                    </tr>
                    <tr>    
                        <td></td>
                        <td><input class="form-control" type="text" id="newName" [(ngModel)]="newGroup.name" name="newName" /></td>
                        <td></td>
                        <td><button class="btn btn-success btn-sm" type="button" (click)="AddGroup()">Add</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="ml-5 mb-5 mr-5 card col-8" id="tTable"  style="box-sizing: content-box;">
        <div class="card-body">
            <h3 class="card-title">Teachers</h3>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Telephone</th>
                        <th scope="col">Group</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let teacherItem of teacherList; let updateItem of updateTeachers">
                        <th id="idTeacher">{{teacherItem.idTeacher}}</th>
                        <td id="name">
                            <input [(ngModel)]="updateItem.name" value="{{teacherItem.name}}"/>
                        </td>
                        <td id="address">
                            <input [(ngModel)]="updateItem.address" value="{{teacherItem.address}}"/>
                        </td>
                        <td id="telephone">
                            <input [(ngModel)]="updateItem.telephone" value="{{teacherItem.telephone}}" size="11"/>
                        </td>
                        <td id="group">
                            <input [(ngModel)]="updateItem.groupId" value="{{teacherItem.groupId}}" size="1"/>
                        </td>
                        <td> <button class="btn btn-danger btn-sm" (click)="DeleteTeacher(teacherItem.idTeacher)">Delete</button></td>
                        <td> <button class="btn btn-warning btn-sm" (click)="UpdateTeacher(updateItem)">Update</button></td>
                    </tr>
                    <tr>    
                        <td></td>
                        <td><input class="form-control" type="text" id="" [(ngModel)]="newTeacher.name" name="" /></td>
                        <td><input class="form-control" type="text" id="" [(ngModel)]="newTeacher.address" name="" /></td>
                        <td><input class="form-control" type="text" id="" [(ngModel)]="newTeacher.telephone" name="" /></td>
                        <td><input class="form-control" type="text" id="" [(ngModel)]="newTeacher.groupId" name="" /></td>
                        <td><button class="btn btn-success btn-sm" type="button" (click)="AddTeacher()">Add</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="mr-5 mb-5 ml-5 card col-11" id="sTable"  style="box-sizing: content-box;">
        <div class="card-body">
            <h3 class="card-title">Schools</h3>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Register Number</th>
                        <th scope="col">Address</th>
                        <th scope="col">Telephone</th>
                        <th scope="col">School Zone</th>
                        <th scope="col">Creation Date</th>
                        <th scope="col">Director</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let schoolItem of schoolList; let updateItem of updateSchools">
                        <th id="idSchool">{{schoolItem.idSchool}}</th>
                        <td id="name">
                            <input [(ngModel)]="updateItem.name" value="{{schoolItem.name}}"/>
                        </td>
                        <td id="registerNumber">
                            <input [(ngModel)]="updateItem.registerNumber" value="{{schoolItem.registerNumber}}" size="4"/>
                        </td>
                        <td id="address">
                            <input [(ngModel)]="updateItem.address" value="{{schoolItem.address}}"/>
                        </td>
                        <td id="telephone">
                            <input [(ngModel)]="updateItem.telephone" value="{{schoolItem.telephone}}" size="10"/>
                        </td>
                        <td id="schoolZone">
                            <input [(ngModel)]="updateItem.schoolZone" value="{{schoolItem.schoolZone}}" size="4"/>
                        </td>
                        <td id="creationDate">{{schoolItem.creationDate}}</td>
                        <td id="director">
                            <input [(ngModel)]="updateItem.director" value="{{schoolItem.director}}"/>
                        </td>
                        <td> <button class="btn btn-danger btn-sm" (click)="DeleteSchool(schoolItem.idSchool)">Delete</button></td>
                        <td> <button class="btn btn-warning btn-sm" (click)="UpdateSchool(updateItem)">Update</button></td>
                    </tr>
                    <tr>    
                        <td></td>
                        <td><input class="form-control" type="text" id="" [(ngModel)]="newSchool.name" name="" /></td>
                        <td><input class="form-control" type="text" id="" [(ngModel)]="newSchool.registerNumber" name="" /></td>
                        <td><input class="form-control" type="text" id="" [(ngModel)]="newSchool.address" name="" /></td>
                        <td><input class="form-control" type="text" id="" [(ngModel)]="newSchool.telephone" name="" /></td>
                        <td><input class="form-control" type="text" id="" [(ngModel)]="newSchool.zone" name="" /></td>
                        <td></td>
                        <td><input class="form-control" type="text" id="" [(ngModel)]="newSchool.director" name="" /></td>
                        <td><button class="btn btn-success btn-sm" type="button" (click)="AddSchool()">Add</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

<div class="pt-5 pb-5 ">
</div>

<app-el-footer></app-el-footer>